# Virtual environments
venv
.direnv/
.venv/
.envrc

# Environment variables
.env

# SQLite databases
*.db
*.sqlite
*.sqlite3

# Packaging and build artifacts
*.egg-info/
build/
dist/
pip-wheel-metadata/
dependency_links.txt
PKG-INFO

# Python cache
__pycache__/
*.pyc

# Temp stuff
temp-docs/
